.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

.input__register{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.label__register{
    font-size: 16px;
    color: #fff;
}

.span__register{
    font-size: 14px;
    padding: 3px;
    color: red;
    display: none;
}

.input__register:invalid[focused="true"]{
    border: 1px solid red;
}

.input__register:invalid[focused="true"] ~ span{
    display: block;
}

